@media (min-width: 769px) and (max-width: 1024px) {
    .changepass-section {
        min-height: 830px;
        padding: 30px 0;
    }
}
.profilelinks {
    background: #fbfbfb;
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}
ul.promenue {
    list-style: none;
    padding: 0;
}

.promenue li a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 12.5px;
    text-transform: uppercase;
    font-weight: 500;
}
.promenue li a i {
    float: left;
    color: #5a6374;
    width: 40px;
    font-size: 22px;
}
.passwordbgset {
    background: #fbfbfb;
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    height: 40px;
    border-radius: 0px;
    padding: 0px 5px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 100% !important;

}
.updatepassbtn {
    float: right;
    padding: 15px 0px 10px;
}
.updatepassbtn .btnsubmit {
    color: #fff;
    background: #b11c3f;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.error-message{
    color : #b11c3f,
}