@media (min-width: 769px) and (max-width: 1024px) {
    .myorders-section {
        min-height: 830px;
        padding: 30px 0px;
    }
}

.profilelinks {
    background: #fbfbfb;
    margin-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}
ul.promenue {
    list-style: none;
    padding: 0;
}

.promenue li a {
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 12.5px;
    text-transform: uppercase;
    font-weight: 500;
}
.promenue li a i {
    float: left;
    color: #5a6374;
    width: 40px;
    font-size: 22px;
}
.box-body {
    background: #fbfbfb;
    padding: 25px 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.switchorderlist {
    text-transform: uppercase;
    font-weight: 500;
    color: #a1a1a1;
    font-size: 14px;
    padding: 5px 0px 10px;
}
.pro.scrolls {
    border: 1px solid #fbfbfb;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fbfbfb;
}
.pro th {
    border: 1px solid #dddddd;
    color: #888888;
    padding: 10px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12.5px;
    font-weight: 500;
}
.pro td {
    border: 1px solid #dddddd;
    color: #888888;
    padding: 25px 5px;
    text-align: center;
    font-size: 12.5px;
    font-weight: 500;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-primary {
    background-color: #337ab7;
}
.label-success {
    background-color: #5cb85c;
}